﻿
@{
  

}

@using LibraryReload.Security
@model LibraryReload.ViewModels.UserViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav>
        <link rel="stylesheet" href="../../Content/HomeStyle.css">
        <a href="#" class="menu-trigger" position=center>Menu</a>
        <ul>
            @if (SecurityHelper.IsAuthorized == false)
            {
                <li>@Html.ActionLink("Log in", "Index", "User")</li>
            }
            else
            {
                <li>@SecurityHelper.GetEmail</li>
            }
            <li>@Html.ActionLink("Shelf", "Shelf", "Library")</li>
            @if (SecurityHelper.IsAuthorized)
            {
                <li>@Html.ActionLink("Log out", "Logout", "User")</li>
            }
        </ul>
    </nav>
<div>
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @ViewBag.Error
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>@Html.LabelFor(model => model.User.Email)</td>
                <td>@Html.TextBoxFor(model => model.User.Email)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Login"/></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <p>Not registered yet?</p>@Html.ActionLink("Registration", "RegForm")</td>
            </tr>
        </table>
    }


</div>
</body>
</html>
