﻿
@{


}

@using LibraryReload.Security
@model LibraryReload.ViewModels.UserViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <nav>
        <link rel="stylesheet" href="../../Content/HomeStyle.css">
        <a href="#" class="menu-trigger" position=center>Menu</a>
        <ul>
            @if (SecurityHelper.IsAuthorized == false)
            {
                <li>@Html.ActionLink("Log in", "Index", "User")</li>
            }
            else
            {
                <li>@SecurityHelper.GetEmail</li>
            }
            <li>@Html.ActionLink("Shelf", "Shelf", "Library")</li>
            @if (SecurityHelper.IsAuthorized)
            {
                <li>@Html.ActionLink("Log out", "Logout", "User")</li>
            }
        </ul>
    </nav>
<div>
    @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
        @ViewBag.Error
        <table >
            <tr>
                <td>@Html.LabelFor(model => model.User.Email)</td>
                <td>@Html.TextBoxFor(model => model.User.Email)</td>
                <td>@Html.ValidationMessageFor(model => model.User.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.User.Name)</td>
                <td>@Html.TextBoxFor(model => model.User.Name)</td>
                <td>@Html.ValidationMessageFor(model => model.User.Name)</td>

            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.User.LastName)</td>
                <td>@Html.TextBoxFor(model => model.User.LastName)</td>
                <td>@Html.ValidationMessageFor(model => model.User.LastName)</td>

            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Register"/></td>
            </tr>
        </table>
    }
</div>
</body>
</html>