﻿
@using LibraryReload.Security
@model LibraryReload.ViewModels.BookViewModel

<!DOCTYPE html>
<html>
<body>
    <nav>
        <link rel="stylesheet" href="../../Content/HomeStyle.css">
        <a href="#" class="menu-trigger" position=center>Menu</a>
        <ul>
            @if (SecurityHelper.IsAuthorized == false)
            {
                <li>@Html.ActionLink("Log in", "Index", "User")</li>
            }
            else
            {
                <li>@SecurityHelper.GetEmail</li>
            }
            <li>@Html.ActionLink("Shelf", "Shelf", "Library")</li>
            @if (SecurityHelper.IsAuthorized)
            {
                <li>@Html.ActionLink("Log out", "Logout", "User")</li>
            }
        </ul>
    </nav>
    @ViewBag.Success
@using (Html.BeginForm("AddBook", "Library", FormMethod.Post))
{

    <table>

        <tr>
            <td>@Html.LabelFor(model => model.Book.Title)</td>
            <td>@Html.TextBoxFor(model => model.Book.Title)</td>
            <td>@Html.ValidationMessageFor(model => model.Book.Title)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Book.Description)</td>
            <td>@Html.TextBoxFor(model => model.Book.Description)</td>
            <td>@Html.ValidationMessageFor(model => model.Book.Description)</td>

        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Book.Quantity)</td>
            <td>@Html.TextBoxFor(model => model.Book.Quantity)</td>
            <td>@Html.ValidationMessageFor(model => model.Book.Quantity)</td>

        </tr>

        @for (int i = 1; i < ViewBag.QuantityAuthors; i++)
        {
            <tr><td>Author @i</td></tr>
            <tr>
                <td>@Html.LabelFor(model => model.Book.ListAuthors[i - 1].Name)</td>
                <td>@Html.TextBoxFor(model => model.Book.ListAuthors[i - 1].Name)</td>
                <td>@Html.ValidationMessageFor(model => model.Book.ListAuthors[i - 1].Name)</td>
                &nbsp;&nbsp;&nbsp;
                <td>@Html.LabelFor(model => model.Book.ListAuthors[i - 1].LastName)</td>
                <td>@Html.TextBoxFor(model => model.Book.ListAuthors[i - 1].LastName)</td>
                <td>@Html.ValidationMessageFor(model => model.Book.ListAuthors[i - 1].LastName)</td>
            </tr>
        }
        <tr><td>@Html.ActionLink("Add author", "AddAuthorField", new {q = ViewBag.QuantityAuthors})</td></tr>
        <tr><td>@Html.ActionLink("Delete author", "DeleteAuthorField", new {q = ViewBag.QuantityAuthors})</td></tr>
        <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Add book"/></td>
    </table>
}
</body>
</html>
