﻿

@model LibraryReload.Models.Books
@using LibraryReload.Security


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="/Content/bootstrap.css">
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookPage</title>
</head>
<body>
    <nav>
        <link rel="stylesheet" href="../../Content/HomeStyle.css">
        <a href="#" class="menu-trigger" position=center>Menu</a>
        <ul>
            @if (SecurityHelper.IsAuthorized == false)
            {
                <li>@Html.ActionLink("Log in", "Index", "User")</li>
            }
            else
            {
                <li>@SecurityHelper.GetEmail</li>
            }
            <li>@Html.ActionLink("Shelf", "Shelf", "Library")</li>
            @if (SecurityHelper.IsAuthorized)
            {
                <li>@Html.ActionLink("Log out", "Logout", "User")</li>
            }
        </ul>
    </nav>

<table class="table table-condensed table-bordered ">
    <tr><th>Title:</th><td colspan="2">@Model.Title</td></tr>
    <tr><th>Quantity:</th><td colspan="2">@Model.Quantity</td></tr>
    <tr><th>Authors:</th>
    <td colspan="2">
    @foreach (var a in Model.ListAuthors)
            {
        @a.Name
        <span style="padding:0px 1px;"></span>
        @a.LastName
        <br/>
    }
    </td>

        </tr>
        <tr><th>Description:</th><td colspan="2">@Model.Description</td></tr>
    <tr><th colspan="3">History:</th></tr>
    @foreach (var h in Model.History)
    {
        <tr>
            <td>@h.UserFIO</td>
            <td>@h.Date</td>
            <td>@h.Action</td>
        </tr>
    }
    
    </table>

<div>
</div>
</body>
</html>
