﻿

@model PagedList.IPagedList<LibraryReload.Models.Books>
@using System.Security.Principal
@using PagedList.Mvc;
@using LibraryReload.Security


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/Content/bootstrap.css">

<html>
<body>
<nav>

    <link rel="stylesheet" href="../../Content/HomeStyle.css">
    <a href="#" class="menu-trigger" position=center>Menu</a>
    <ul>
        @if (SecurityHelper.IsAuthorized == false)
        {
            <li>@Html.ActionLink("Log in", "Index", "User")</li>
        }
        else
        {
            <li>@SecurityHelper.GetEmail</li>
        }
        <li>@Html.ActionLink("Shelf", "Shelf", "Library")</li>
        @if (SecurityHelper.IsAuthorized)
        {
            <li>@Html.ActionLink("Log out", "Logout", "User")</li>
        }
    </ul>
</nav>
<div>

    @using (Html.BeginForm("Shelf", "Library", FormMethod.Get))
    {
        <p>

            Find: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <br/>
            @Html.RadioButton("filterRadio", "all", true) All Books
            @Html.RadioButton("filterRadio", "available", false) Available books
            @Html.RadioButton("filterRadio", "mybooks", false) My books
            <br/>
            <input type="submit" value="Search"/>
            <br/>
            @if (SecurityHelper.IsAdmin)
            {
                @Html.ActionLink("Add book", "AddBookForm", "Library")
                ;

            }
        </p>
    }

    <table class="table table-condensed table-bordered">
        <tr>
            <th>
                @Html.ActionLink("Title", "Shelf",
                    new
                    {
                        sortOrder = ViewBag.TitleSortParm,
                        currentFilter = ViewBag.CurrentFilter,
                        filterRadio = ViewBag.RadioButton,
                        page = ViewBag.Page
                    })
            </th>
            <th>
                Description
            </th>
            <th>
                Available
            </th>
            <th>
                @Html.ActionLink("Author", "Shelf",
                    new
                    {
                        sortOrder = ViewBag.AuthorSortParm,
                        currentFilter = ViewBag.CurrentFilter,
                        filterRadio = ViewBag.RadioButton,
                        page = ViewBag.Page
                    })
            </th>
            <th>
                Quantity
            </th>
            @if (SecurityHelper.IsUser)
            {
                <th>
                    Take/Put the book
                </th>
            }
            @if (SecurityHelper.IsAdmin)
            {
                <th>
                    Delete the book
                </th>
            }
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <p>
                        @Html.ActionLink(item.Title, "BookPage", new {id = item.BookID})
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                
                <td>
                    @foreach (var i in item.ListAuthors)
                    {
                        @i.Name
                        <span style="padding: 0px 1px;"></span>
                        @i.LastName
                        <br/>

                    }
                </td>
                <td>
                    @using (Html.BeginForm("ChangeQuantity", "Library", new
                    {
                        id = item.BookID,
                        sortOrder = ViewBag.CurrentSort,
                        currentFilter = ViewBag.CurrentFilter,
                        filterRadio = ViewBag.RadioButton,
                        page = ViewBag.Page
                    }))
                    {
                        @Html.DisplayFor(modelItem => item.Quantity)
                        if (SecurityHelper.IsAdmin)
                        {
                            <input id="newq" name="newq" type="text" value="" size="1">
                            <br/>
                            <input id="Button" type="submit" value="Change"/>
                        }
                    }

                </td>
                @if (SecurityHelper.IsUser)
                {
                    <td>

                        @if (item.CurrentOwner == false&&item.Quantity!=0)
                        {
                        @Html.ActionLink("Take", "Take",
                            new
                            {
                                id = item.BookID,
                                sortOrder = ViewBag.CurrentSort,
                                currentFilter = ViewBag.CurrentFilter,
                                filterRadio = ViewBag.RadioButton,
                                page = ViewBag.Page
                            })
                        }
                        else
                        {
                        if (item.CurrentOwner)
                        {
                        @Html.ActionLink("Put", "Put",
                            new
                            {
                                id = item.BookID,
                                sortOrder = ViewBag.CurrentSort,
                                currentFilter = ViewBag.CurrentFilter,
                                filterRadio = ViewBag.RadioButton,
                                page = ViewBag.Page
                            })
                        }
                        else
                        {
                        <p>Unavailable</p>
                        }
                        }

                    </td>
                }
                @if (SecurityHelper.IsAdmin)
                {
                    <td>
                        @Html.ActionLink("Delete", "Delete",
                            new
                            {
                                id = item.BookID,
                                sortOrder = ViewBag.CurrentSort,
                                currentFilter = ViewBag.CurrentFilter,
                                filterRadio = ViewBag.RadioButton,
                                page = ViewBag.Page
                            })
                    </td>
                }
            </tr>
        }

    </table>
    <br/>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Shelf",
        new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, filterRadio = ViewBag.RadioButton}))
</div>
</body>
</html>
